In [4]:
import DataDownload
import importlib

### Baixando fundo

In [20]:
(
    DataDownload.download_data([2019, 1], [2019, 3], outpath="/home/marcel/outros/finance-fundos/DemoDownloads")
)

/home/marcel/outros/ckrepo/analyzeBRfunds/utils/DataDownload.py:48: UserWarning: File /home/marcel/outros/finance-fundos/DemoDownloads/201901.csv skipped since already exists.

/home/marcel/outros/ckrepo/analyzeBRfunds/utils/DataDownload.py:48: UserWarning: File /home/marcel/outros/finance-fundos/DemoDownloads/201902.csv skipped since already exists.

['/home/marcel/outros/finance-fundos/DemoDownloads/201901.csv',
 '/home/marcel/outros/finance-fundos/DemoDownloads/201902.csv',
 '/home/marcel/outros/finance-fundos/DemoDownloads/201903.csv']

### Baixando IBOVESPA

In [21]:
(
    DataDownload.download_data(
        first_date=[2017,1,1], last_date=[2021,12,31],
        asset="IBOVESPA", outpath="/home/marcel/outros/finance-fundos/DemoDownloads/IBOV_2017_2021.csv"
    )
)

           Date  Name     Value
0    2017-01-02  IBOV   59589.0
1    2017-01-03  IBOV   61814.0
2    2017-01-04  IBOV   61589.0
3    2017-01-05  IBOV   62071.0
4    2017-01-06  IBOV   61665.0
...         ...   ...       ...
1230 2021-12-23  IBOV  104891.0
1231 2021-12-27  IBOV  105531.0
1232 2021-12-28  IBOV  104864.0
1233 2021-12-29  IBOV  104107.0
1234 2021-12-30  IBOV  104822.0

[1235 rows x 3 columns]

### Baixando Risk-Free

In [31]:
import pandas as pd

In [32]:
pd.to_datetime("2022/2/21")

Timestamp('2022-02-21 00:00:00')

In [56]:
importlib.reload(DataDownload)

In [57]:
(
    DataDownload.download_data(
        first_date=[2017,1,1], last_date=[2021,12,31],
        asset="RISK-FREE", outpath="/home/marcel/outros/finance-fundos/DemoDownloads/RF_2017_2021.csv"
    )
)

            Date       Name     Value
3962  2017-01-02  Risk_free  0.000495
3963  2017-01-03  Risk_free  0.000494
3964  2017-01-04  Risk_free  0.000493
3965  2017-01-05  Risk_free  0.000491
3966  2017-01-06  Risk_free  0.000491
...          ...        ...       ...
5192  2021-12-23  Risk_free  0.000348
5193  2021-12-27  Risk_free  0.000348
5194  2021-12-28  Risk_free  0.000347
5195  2021-12-29  Risk_free  0.000348
5196  2021-12-30  Risk_free  0.000347

[1235 rows x 3 columns]

In [55]:
pd.to_datetime(asl["year"] + "/" + asl["month"] + "/" + asl["day"]).dt.date

0       2001-01-02
1       2001-01-03
2       2001-01-04
3       2001-01-05
4       2001-01-08
           ...
5213    2022-01-25
5214    2022-01-26
5215    2022-01-27
5216    2022-01-28
5217    2022-01-31
Length: 5218, dtype: object